<!DOCTYPE html>
<html lang="fr">
<head>    
    <title>{% block title %}Wishlist App{% endblock %}</title>

    {# Lien vers le fichier CSS #}
    <link rel="icon" href="{{ asset('ressources/images/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('css/default.css') }}?v={{ random() }}">
    {% block style %}
    {% endblock %}
</head>
<body>

    {# Bandeau contenant le logo et le titre #}
    <header>
        <img src="{{ asset('ressources/images/logo.png') }}" id="logo">
        <h1> {{title | default("Webapp")}} </h1>
        {% if user is defined %}
           <div style="position: absolute; right: 0; display: flex; align-items: center; justify-content: space-evenly; width: 200px;">
                <a href="{{ path('app_list_wishlists', {'username' : user.username}) }}">
                    <img src="{{ asset('ressources/images/account.png') }}" width="40px" height="40px">
                </a>
                <a href="{{ path('app_user_logout', {}) }}">
                    <img src="{{ asset('ressources/images/logout.png') }}" width="40px" height="40px">
                </a>
            </div>
        {% endif %}
    </header>

    {# Contenu spécifique des pages #}
    <main>
        {% block body %}{% endblock %}
    </main>


    <footer>
        <p> Webapp Project - Group 3 </p>
    </footer>
</html>