{% extends 'base.html.twig' %}

{%block title%} Modification d'une wishlist {%endblock%}
<link rel="stylesheet" href="{{ asset('css/wishlist.css') }}">
{%block body%}
<div class="bloc1">
    <div> {{wishlist.name}} </div>

    <div>
        <table>
            <tr>
                <td>Title of your item</td>
                <td>
                    <form method="post" action="{{ path('app_user_wishlist_accepted', {'username': user.username}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('accept' ~ user.id) }}">
                        <input type="hidden" name="invitedWishlist" value={{wishlist}}>
                        <button class="btn"><img src="{{ asset('ressources/images/accept.png') }}" id="accept"></button> {# TODO#}
                    </form>
                </td> {# il faudra faire un render de authors des wishlists concernées dans le controller#}
                <td>
                    <form method="post" action="{{ path('app_user_wishlist_accepted', {'username': user.username}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('accept' ~ user.id) }}">
                        <input type="hidden" name="invitedWishlist" value={{wishlist}}>
                        <button class="btn"><img src="{{ asset('ressources/images/accept.png') }}" id="accept"></button> {# TODO#}
                    </form>
                </td>
                <td>      
                    <form method="post" action="{{ path('app_user_wishlist_refused') }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('refuse' ~ user.id) }}">
                        <button class="btn"><img src="{{ asset('ressources/images/refuse.png') }}" id="refuse"></button> {# TODO#}
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="bloc2">
    <div> Your Wishlists </div>

    <div>
        <table>
            {%for wishlist in wishlists%} {# il faudra faire un render de wishlists dans le controller#}
                <tr>
                    <td>{{wishlist.name}}</td>
                    <td>{{authors.name}}</td> {# il faudra faire un render de authors des wishlists concernées dans le controller#}
                    <td>
                        <form method="post" action="{{ path('app_wishlist_edit') }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('share' ~ user.id) }}">
                            <button class="btn"><img src="{{ asset('ressources/images/edit.png') }}" id="edit"></button> {# TODO#}
                        </form>
                    </td>
                    <td>{{ include('wishlist/_delete_form.html.twig') }}</td> {# TODO: a revoir au niveau de l'interface#}
                    <td>
                        <form method="post" action="{{ path('app_wishlist_shared') }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('share' ~ user.id) }}">
                            <button class="btn"><img src="{{ asset('ressources/images/share.png') }}" id="share"></button> {# TODO#}
                        </form>
                    </td>
                </tr>
            {%endfor%}
        </table>
    </div>

    <div>
        <form method="post" action= "{{ path('app_wishlist_add') }}">
            <input type="hidden" name="_token" value="{{ csrf_token('add' ~ user.id) }}">
            <button><img src="{{ asset('ressources/images/add.png') }}" id="add"> Add a Wishlist</button>
        </form>
    </div>
</div>
{%endblock%}