{# templates/sharing_url/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Wishlist: {{ wishlist.name }}{% endblock %}

{% block body %}
    <h1>Wishlist: {{ wishlist.name }}</h1>
    
    <p><strong>Deadline:</strong> {{ wishlist.deadline|date('Y-m-d H:i:s') }}</p>
    
    <h3>Items:</h3>
    <ul>
        {% for item in wishlist.items %}
            <li>
                <strong>{{ item.title }}</strong> - {{ item.price }} €<br>
                {{ item.description }}<br>
                <a href="{{ item.url }}" target="_blank">Voir l'article</a>
            </li>
        {% else %}
            <p>Aucun item dans cette wishlist.</p>
        {% endfor %}
    </ul>
    
    <h3>Contributeurs:</h3>
    <ul>
        {% for contributor in wishlist.contributors %}
            <li>{{ contributor.username }}</li>
        {% else %}
            <p>Aucun contributeur pour cette wishlist.</p>
        {% endfor %}
    </ul>

    <h3>Invités:</h3>
    <ul>
        {% for invited in wishlist.invitedUser %}
            <li>{{ invited.username }}</li>
        {% else %}
            <p>Aucun invité pour cette wishlist.</p>
        {% endfor %}
    </ul>

    <p><strong>URL de partage:</strong> {{ wishlist.sharingUrl }}</p>
{% endblock %}
